.navbar-brand{
  font-size: 24px !important;

}

.navbar-nav a{
  font-size: 18px !important;
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.navbar-nav a:active{
  color: #fff !important;
  background-color: #080808 !important;
}
