body{
  background-color:#eee !important;
}

.navbar-brand{
  font-size: 24px !important;
  color: #fff !important ;
  background-color: #673ab7 !important;

}

.navbar-nav a{
  font-size: 18px !important;
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.navbar-nav a:hover{
  background-color: #009688 !important ;
}
.navbar-nav a:active{
  background-color: #3f51b5 !important ;
}

.content{
  padding-top: 70px;
}
.content p{
  font-size: 18px !important;
}
.content h1{
  font-size: 50px !important;
  text-decoration: underline !important;
  font-weight: bold !important;

}
.footer{
    background-color: #607D8B;
    text-align: center;
    font-size: 18px;
    color: black;
    padding: 20px;
    margin-top: 100px;
}