{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block page_container %}
<div class="content container-fluid">
    <h1 class="header text-center">Docker</h1>
    <div class="story">  
        <div class="row">
            <div class="col-md-2 col-xs"></div>
            <div class="col-md-8 col-xs-8">
                <article>
                    <h3>Docker Container ?</h3>
                    <p>
                    Docker container maybe are the the best thing happened for every developper 
                    docker made it easy for developper to work less on environement setup and focus 
                    more on the actual project and let the rest for DevOps. Docker is a container and not 
                    an operating system with small footprint but only a container for only the tools and the
                    setup you need to run your project and it's platform independent this is made it easy for 
                    DevOps to deploy for different platform without changing any piece of code making developement 
                    for other plaforms ZERO cost, docker beats virtualboxes in terms of memory usage, system loading.
                    </p>
                </article>
                <article>
                    <h3>Why Docker is Different ?</h3>
                    <p>
                    Docker is different from other virtualisation tools because it make use of the host hardware and
                    networkig interface it's a tool for every developper who wants to work with linux tools on windows
                    operating system and without wasting time setting up a virtual machine have may use half pc power
                    when developper use only small percent for his dev operation, but with docker user is able to control
                    the usage to fit his needs, and for web application this is good for scalling the usage when need it
                    docker is good tool for developpers to focus only on the developpent and let docker take care for 
                    tools isn't cool this what docker is made for to help talented dev be more productive.
                    </p>
                </article>
                <article>
                    <h3>Docker Future</h3>
                    <p>
                    I am Web develper and Linux system administator, and from my point of view i think docker is getting 
                    better at helping software developement more exciting and it helps developers focus on productivity
                    this leads to better software developpent and make life easier for us web developper and system admins
                    for now docker is native linux and soon will be native and easy to use on windows but i wish if windows
                    can create a native container like docker that would be great because docker wont be native as we would 
                    expect because of windows system api restriction they are not exposed to developper like on Linux wich
                    is open source and everybody have access to it's internal design, in the end I would say that docker created 
                    an amazing tool to add productivity and focus to software developpent.
                    </p>
                </article>
            </div>
            <div class="col-md-2 col-xs">
            </div>
        </div>
    </div>

</div>
{% endblock %}